services:
  bind9:
    container_name: ns1
    image: ubuntu/bind9:9.20-24.10_edge
    environment:
      - BIND9_USER=root
      - TZ=America/New_York
    #ports: # not required when using a MACVLAN
    #  - "53:53/tcp"
    #  - "53:53/udp"
    networks:
      macvlan255:
        ipv4_address: 10.0.255.24
    volumes:
      - ns1_config:/etc/bind
      - ns1_cache:/var/cache/bind
      - ns1_records:/var/lib/bind
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "named-checkconf"]
      interval: 30s
      timeout: 10s
      retries: 3    

networks:
  macvlan255:
    name: macvlan255
    external: true
    ipam:
     config:
       - subnet: "10.0.255.0/24"
         gateway: 10.0.255.1

volumes:
  ns1_config:
    external: true
  ns1_cache:
    external: true
  ns1_records:
    external: true